
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('link') %></h3>
    <div class="widget">
      <li><a href="https://github.com/hewentian" title="Tim Ho's Blog">我的github</a></li>
    </div>
  </div>

